/* --------------------------------------------- Глобальные  --------------------------------------------- */

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: Inter;
}

header {
    /* background: url(/picture/background_main.png);
    background-repeat: no-repeat;
    background-position: center; */

    padding: 0px 360px;

    color: white;

    /* height: 1080px; */
    /* 
        animation: slider
    */
    /* animation: slider_1 30s; */
}

section {
    padding: 0px 360px;
}

footer {
    padding: 0px 450px;

    background-color: #151515;
    color: white;
}

h1 {
    text-align: center;
    margin: 0px;

    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin: 150px 0px 40px 0px;
}

h2 {
    text-align: center;

    margin: 150px 0px 50px 0px;

    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin: 0px;
    text-align: center;
    margin: 30px 0px 30px 0px;
}

h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin: 50px 0px 40px 0px;
}

h5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px 0px 20px 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 40px 0px 45px 0px;
}
p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;

    /* text-align: left; */
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

hr {
    width: 120px;
    height: 3px;
    background: #151515;
    border: 0px;

    margin: 0px;

    margin-left: 15px;
    margin-right: 15px;
}

hr:hover {
    background: white;
    height: 6px;
}

input {
    border: 1px solid #06F;
}
/* ----------------------------------------------- Классы  ----------------------------------------------- */
.header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */

    background: url(/picture/background_main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;

    animation: slider_1 30s;

    height: 1080px;


    /* padding-top: 40px; */
}

.main {
    padding: 0px 360px;;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
}

.slider {
    display: flex;
    justify-content: center;

    margin-top: 500px;
}

.block {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.element {
    width: 270px;
    height: 323px;
}

.eleps {
    background-color: #06F;
    border-radius: 100px;
    width: 100px;
    height: 100px;

    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.installation {
    display: flex;
    justify-content: center;

    margin: 50px 0px 50px 0px;
}

.footer_footer {
    display: flex;
    justify-content: center;
}

.x {
    display: flex;
}

.element_navigation {
    padding: 0px 15px 0px 15px;
}

.y {
    width: 270px;
    text-align: left;
}

.text_2 {
    padding: 0px 310px;
    margin-bottom: 50px;
}

.footer_element {
    padding: 0px 20px 0px 20px;
}

.menu {
    background-color: #151515;
}

.picture {
    width: 270px;
    height: 170px;
    /* border: 1px solid #06F; */
    border-bottom: 1px solid #06F;
}

.blank {
    border: 1px solid #06F;

}

.box {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    gap: 40px 0px;
}

.car {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0px 360px;
    gap: 100px 40px;
    text-align: center; 
}

.left {
    text-align: left;
}

.button {
    color: #06F;
    width: 100%;
    height: 25px;
    border: 0px;
    border-top: 1px solid #06F;
}

.gg {
    display: flex;
    margin: 0px 360px;
    justify-content: center;
    gap: 80px;
    margin-bottom: 100px;
}

.tr {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.select {
    color: #06F;
}

.sd {
    display: flex;
    justify-content: space-between;
}

.aa {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_3 {
    background: var(--blue, #06F);
    width: 80px;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #06F;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;

    color: white;
}

.button_x {
    color: white;

    padding: 13px 61px;
    justify-content: center;
    align-items: center;
    background: var(--black, #151515);

    text-align: center;
    margin: 70px 504px 150px 504px;

    width: 227px;
}
/* ------------------------------------------------- ID  ------------------------------------------------- */

#button_1 {
    width: 430px;
    height: 90px;
    /* padding: 23px 187px; */

    background: #151515;
    color: white;

    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin: 0px 410px 0px 360px;
    
}

#section_2 {
    padding: 0px 663px;
}

#section_4 {
    margin-bottom: 150px;
}

#text {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0px 0px 15px 0px;
}

#video {
    padding: 0px 100px;
}

#form {
    margin: 0px 310px;

    display: grid;
    grid-template: 57px 291px / 1fr 1fr ;
    gap: 50px 40px;
}

#element_g {
    grid-column: 1 / -1;
}

@keyframes slider_1 {
    100% {
        background: url(/picture/background_main.png);
    }
    75% {
        background: url(/picture/background_1.jpg);
    }
    50% {
        background: url(/picture/background_2.jpg);
    }
    25% {
        background: url(/picture/background_3.jpg);
    }
}